.container.about {
  padding: 30px 20px;
}
.container.text > p {
  color: #46575F;
  margin: 25px 0;
  font-size: 16px;
  line-height: 25px;
}
.text p span {
  font-weight: bold;
}
.text-quetes {
  border-radius: 15px;
  background: #F8F8F8;
  border: 2px solid #F2F2F2;
}
.text-quetes > p {
  color: #46575F;
  quotes: '" ','"';
  padding: 15px 20px 10px;
  font-size: 16px;
  line-height: 25px;
}
.text-quetes > p::before {
  display: inline-block;
  content: open-quote;
  font-size: 35px;
}
.text-quetes > p::after {
  position: absolute;
  content: close-quote;
  padding: 0 10px;
  font-size: 35px;
}
